/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background: url('scott-lord-o9PTdUxitkY-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  padding: 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.language-switch {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.language-switch button {
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-switch button:hover {
  background-color: #0056b3;
}

.section-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.section-buttons button {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.section-buttons button:hover {
  background-color: #218838;
}

.info-section {
  display: none;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent background for better readability */
  padding: 20px;
  border-radius: 5px;
}

.info-section h3 {
  margin-bottom: 10px;
}

.info-section ul, .info-section ol {
  margin-left: 20px;
  list-style: disc;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.8);
}
